# Dependencies
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock
uploads/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Ngrok
ngrok/ngrok.yml 